<div class="layout">

  <header class="app-header">
    <app-header [isSidebarCollapsed]="isSidebarCollapsed" (toggleSidebar)="isSidebarCollapsed = !isSidebarCollapsed">
    </app-header>
  </header>

  <div class="body">

    <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">

      <app-sidebar [collapsed]="isSidebarCollapsed">
      </app-sidebar>

    </aside>

    <main class="content">
      <div class="inner-content"  #workspaceWrapper>
        <app-dashboard></app-dashboard>
      </div>
    </main>

  </div>
</div>


<app-audit-history-modal />
<app-confirmation-modal />
<app-global-loader />