@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {

  /* SIDEBAR */

  --sidebar-bg: #06122b;

  /* MENU */

  --menu-text: #d6deff;

  --hover-bg: #0d1f45;

  --active-bg: #2f6df6;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}