<div class="sidebar-wrapper">

  <div class="logo-section">
    <div class="logo-box">
      <i [class]="selectedMenu().icon"></i>
    </div>
    <div class="logo-text" *ngIf="!collapsed">
      <h2>{{ selectedMenu().label }}</h2>
    </div>
  </div>

  <nav class="menu-list">
    <a *ngFor="let item of sidebarMenus; let i = index" class="menu-item" [class.active]="activeIndex() === i"
      (click)="setActiveMenu(i)">

      <i [class]="item.icon"></i>

      <span *ngIf="!collapsed">
        {{ item.label }}
      </span>

    </a>
  </nav>

</div>