/* sidebar.component.css */

.sidebar {
  width: 250px;
  height: 100vh;

  background: var(--sidebar-bg);

  padding: 14px 12px;

  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

/* LOGO */

.logo-section {
  margin-bottom: 18px;
}

.logo-box {
  width: 36px;
  height: 36px;

  border-radius: 10px;

  background: var(--active-bg);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.logo-text h2 {
  display: none;
}

/* MENU */

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.menu-item {
  height: 46px;

  padding: 0 14px;

  border-radius: 10px;

  display: flex;
  align-items: center;
  gap: 14px;

  color: var(--menu-text);

  text-decoration: none;

  font-size: 14px;
  font-weight: 600;

  transition: 0.2s ease;

  cursor: pointer;
}

.menu-item i {
  width: 18px;
  font-size: 15px;
}

.menu-item:hover {
  background: var(--hover-bg);
  color: white;
}

.menu-item.active {
  background: var(--active-bg);
  color: white;
}

/* ACTIVE GLOW */

.menu-item.active i {
  color: white;
}