<!-- <div *ngIf="role() === null; else dashboard" class="loading-container">
    <div class="spinner"></div>
    <p>Loading, please wait...</p>
</div> -->

<div class="dashboard-layout">

  <div class="dashboard-body">

    <div class="workspace-wrapper">

      <ng-container [ngSwitch]="selectedMenu().route">

        <div *ngSwitchCase="'analytics'">
          <app-analytics-dashboard />
        </div>

        <div *ngSwitchCase="'leads'">
          <app-lead-management/>
        </div>

        <div *ngSwitchCase="'customers'">
          <app-customer-profiles />
        </div>

        <div *ngSwitchCase="'deals'">
          <app-deals-pipeline [deals]="deals" />
        </div>

        <div *ngSwitchCase="'tasks'">
          <app-task-follow-up />
        </div>

        <div *ngSwitchCase="'tickets'">
          <app-customer-tickets />
        </div>

        <div *ngSwitchCase="'appointments'">
          <app-appointment-scheduler />
        </div>

        <div *ngSwitchCase="'team-members'">
          <!-- create this one  -->
          <app-team-members />
        </div>

        <div *ngSwitchDefault>
          Select Menu
        </div>

      </ng-container>

    </div>

  </div>

</div>